.game{
    width: 800px;
    height: 300px;
    margin: auto;
    background-image: url(img/back.jpg);
}
#mario{
    width: 50px;
    height: 50px;
    background-image: url(img/m.png);
    background-size: 50px 50px;
    position: relative;
    top:180px ;

}
#npc{
    width: 50px;
    height: 50px;
    background-image:  url(img/npc.png);
    background-size:  50px 50px;
    position: relative;
    top: 130px;
    left: 580px;
    animation: npcMov 1.5s infinite linear;
}
    @keyframes npcMov {
        0% {
            left: 580px;
        } 
        100%
        {
            left: -20px;
        }
        
    }
.jump{
    animation: jump 0.5s linear;
}
@keyframes jump{
    0%{
        top: 150px;
    }
    30%{
        top: 80px;
    }
    50%{
        top:10px;
    }
    80%{
        top:80px;
    }
    
    100%{
        top:150px;
    }
}
